<!-- Top Navigation Component (Receiver) -->
<header class="w-full bg-navy text-white flex items-center justify-between px-5 h-[80px] border-b-3 border-gold-light">
  <!-- Brand Logo & Title -->
  <div class="flex items-center gap-2.5">
    <div
    class="w-15 h-15 rounded-full bg-gold flex items-center justify-center border-1 border-gold flex-shrink-0"
  >
    <img src="weblogo.png" alt="logo" class="w-15 h-15 object-contain" />
  </div>
    <div>
        <div class="flex flex-row gap-2">
      <h1 class="text-[15px] font-semibold text-white leading-tight">ระบบรับส่งต่อผู้ป่วย</h1>
      <h1 class="text-[15px] font-semibold text-white leading-tight">รพ.บางปลาม้า</h1>
      </div>
      <p class="text-[11px] text-gold-light leading-none">Health Referral System · อบจ.สุพรรณบุรี  </p>
    </div>
  </div>
  
  <!-- User Profile & Notifications -->
  <div class="flex items-center gap-3">
    <span class="bg-[#2176c7] text-white rounded-full px-3 py-0.5 text-[11px] font-bold border border-gold-light flex items-center gap-1">
      <i class="ti ti-shield-check text-[11px]" aria-hidden="true"></i>รพ. (Receiver)
    </span>
    <div class="relative text-white text-[18px]">
      <i class="ti ti-bell" aria-hidden="true"></i>
      <span class="absolute -top-0.5 -right-0.5 w-1.5 h-1.5 bg-navy rounded-full"></span>
    </div>
    <div class="bg-[#FF0000] text-white rounded-full w-5 h-5 flex items-center justify-center text-[10px] font-bold">5</div>
    <div class="flex items-center gap-1.5 text-[#b5d4f4] text-[12px]">
      <div class="w-7 h-7 rounded-full bg-[#2176c7] border-1.5 border-[#85b7eb] flex items-center justify-center text-[11px] font-semibold text-white">พ</div>
      พญ.พิมพ์นารา
    </div>
  </div>
</header>